.main-text {
    font-weight: normal;
    font-size: 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.header__menu {
    display: flex;
    gap: 13px;
    font-size: 18px;
    list-style: none;
}

.header__menu-item {
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
}

.header__menu-item::before {
    content: "\25CB";
    margin-right: 13px;
    font-size: 14px;
    text-decoration: none;
}

.header__menu__item-no-marker::before {
    content: none;
}

.address__link-active {
    text-decoration: none;
}

.logo {
    height: 107px;
    width: 135px;
    margin-top: 91px;
    margin-bottom: 82px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.35;
}

.header__address {
    justify-self: end;
    max-width: 240px;
}

.cover {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 757px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    z-index: 0;
}

.cover__header {
    position: relative;
    z-index: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 0.3em;
    color: white;
    text-transform: uppercase;
    padding-top: 59px;
    padding-left: 50px;
    padding-right: 50px;
}

.cover__header-left {
    align-self: start;
}

.cover__header-no-right-gap {
    margin-right: -0.3em;
}

.cover__header-center {
    align-self: center;
}

.cover__header-right {
    align-self: end;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 22px;
    color: white;
    word-spacing: 0.9em;
    text-transform: uppercase;
}

.cover__description-denser {
    word-spacing: 0.8em;
}

.bet-button {
    padding: 12px 32px 11px 31px;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-transform: inherit;
    background: none;
    border: white solid 1px;
}

.lots {
    margin-top: 180px;
    padding-left: 24px;
    padding-right: 24px;
}

.section__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.lots__heading {
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
    margin-top: 27px;
    list-style-type: none;
}

.lots__card-list-item-link {
    text-decoration: none;
}

.lots__card-list-item {
    position: relative;
    z-index: 0;
    width: 334px;
    min-height: 596px;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type {
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    position: relative;
    z-index: 2;
    height: 100%;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.card__text {
    position: relative;
    z-index: 2;
    align-self: end;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;
    color: white;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 30px;
    padding-left: 40px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    column-gap: 25px;
    margin-top: 120px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 35px;
}

.about__logo {
    width: 240px;
    height: 240px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
}

.about__logo_image {
    width: 148px;
    height: 114px;
}

.about__info {
    padding-top: 101px;
}

.about__title {
    margin-bottom: 100px;
}

.about__text {
    margin-top: 24px;
    line-height: 1.2;
}

.footer {
    margin-top: 180px;
    margin-bottom: 82px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.footer__address {
    justify-self: start;
    max-width: 261px;
}

.address-link {
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
}

.footer__menu-list {
    list-style-type: none;
    line-height: 1.05;
}

.footer__menu-list-item {
    text-align: center;
    font-size: 18px;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
    line-height: 1.2;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    list-style-type: none;
    column-gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
